<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <div id = 'all_cards'>
            <h1 style="margin: 20px; font-size: 40px;">Total Confirmed: <%=data.TotalConfirmed %></h1>
            <h1 style="margin: 20px; font-size: 40px;">Total Deaths: <%=data.TotalDeaths %></h1>
            <h1 style="margin: 20px; font-size: 40px;">Total Recovered: <%=data.TotalRecovered %></h1>
        </div>
        <form action="/search" method="POST" style="margin-left: 35%;margin-top: 10%;">
            <input type="text" name="name" id="">
            <input type="date" name="from">
            <input type="date" name="to">
            <input type="submit" value= 'SEARCH'>
        </form>
    </main>

</body>
</html>