<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Total Confirmed: <%=data.TotalConfirmed %></h1>
        <h1>Total Deaths: <%=data.TotalDeaths %></h1>
        <h1>Total Recovered: <%=data.TotalRecovered %></h1>
        <form action="/search" method="POST">
            <input type="text" name="name" id="">
            <input type="date" name="from">
            <input type="date" name="to">
            <input type="submit" value= 'SEARCH'>
        </form>
    </main>

</body>
</html>